# CityBikes

Send a request to CityBikes for the city of your choice.

In [29]:
import pandas as pd
import json
import requests
from bs4 import BeautifulSoup
import scipy as sp
import numpy as np
import pandas as pd
from datetime import datetime
import pandas_profiling

In [ ]:
#Find href of specific location
url = "http://api.citybik.es/v2/networks"
header_dict = {'accept': 'application/JSON'}
citybike =  requests.get(url, headers = header_dict)
citybike.json()

In [4]:
citybike

In [31]:
#Choose New York city for the project
url = "http://api.citybik.es/v2/networks/citi-bike-nyc"
header_dict = {'accept': 'application/JSON'}
city_bike = requests.get(url, headers = header_dict)

In [46]:
#Use postman to make moscow_bike.json and load the file into notebook
with open('nyc_bike1.json') as f:
    nyc_bike = json.load(f)
nyc_bike.keys()

dict_keys(['network'])

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [47]:
#Go down 1 level to network
new_bike = nyc_bike['network']
new_bike.keys()

dict_keys(['company', 'ebikes', 'gbfs_href', 'href', 'id', 'location', 'name', 'stations'])

In [49]:
newnyc_bike =pd.json_normalize(new_bike,record_path='stations')

In [50]:
newnyc_bike

,empty_slots,free_bikes,id,latitude,longitude,name,timestamp,extra.ebikes,extra.has_ebikes,extra.last_updated,extra.payment,extra.payment-terminal,extra.renting,extra.returning,extra.slots,extra.uid
0,26,8,46a983722ee1f51813a6a3eb6534a6e4,40.795000,-73.964500,W 100 St & Manhattan Ave,2022-12-05T01:39:35.581000Z,4,True,1670201766,"[creditcard, key]",True,1,1,39,3328
1,28,46,81872dcff5f0e5f1e042aafcc0bab6fd,40.766741,-73.979069,7 Ave & Central Park South,2022-12-05T01:39:36.463000Z,7,True,1670203764,"[creditcard, key]",True,1,1,81,3724
2,17,5,1ce1f825efba7112c62e0b05624fa501,40.676368,-73.952918,Bedford Ave & Bergen St,2022-12-05T01:39:36.839000Z,3,True,1670203992,"[creditcard, key]",True,1,1,24,3571
3,22,4,75a634e2473d7e3abf789c09c44fdf26,40.751047,-73.937970,28 St & 41 Ave,2022-12-05T01:39:36.589000Z,0,True,1670201134,"[creditcard, key]",True,1,1,27,3555
4,19,17,fdb4831d3335a9aea380117ea4f4b81a,40.801694,-73.957145,Frederick Douglass Blvd & W 112 St,2022-12-05T01:39:36.590000Z,8,True,1670203930,"[creditcard, key]",True,1,1,37,3553
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1732,10,28,892717fce286df80cda6899bbd734fff,40.773407,-73.977825,Central Park West & W 68 St,2022-12-05T01:39:36.852000Z,6,True,1670202950,"[creditcard, key]",True,1,1,43,3163
1733,43,4,93fc1a7685f14c2e77c6b4531bab8049,40.744697,-73.935404,31 St & Thomson Ave,2022-12-05T01:39:36.407000Z,1,True,1670197059,"[creditcard, key]",True,1,1,47,3123
1734,7,13,4efb7a74022be4c227e19a5f731c33d9,40.745984,-74.028199,8 St & Washington St,2022-12-05T01:39:35.557000Z,10,True,1670203226,"[creditcard, key]",True,1,1,21,4528
1735,13,11,2938b9e5d210d71e4a00c24179838c6e,40.748161,-74.032453,Columbus Park - Clinton St & 9 St,2022-12-05T01:39:35.560000Z,9,True,1670197955,"[creditcard, key]",True,1,1,26,4524
1736,4,22,2efb7c3068c3a7dc1c2c5dcafb03489e,40.719105,-73.999733,Howard St & Lafayette St,2022-12-05T01:39:36.904000Z,2,True,1670203257,"[creditcard, key]",True,1,1,27,268

Put your parsed results into a DataFrame.

In [45]:
newnyc_bike1.to_csv('newnyc_bike1.csv', index=False)

In [44]:
newnyc_bike1 = newnyc_bike.head(1)